<div class="auth-center">
    <div id="auth-container">
        <form class="open" action="<!--action-->" method="<!--method-->">
            <input type="hidden" name="action" value="login" readonly>
            <div class="auth-div">
                <label><!--email--></label>
                <input type="email" name="email" required>
            </div>
            <div class="auth-div">
                <label><!--password--></label>
                <div>
                    <img onclick="showPassword(this.parentElement)" src="/upload/open-eye.svg" alt="open eye">
                    <input type="password" name="password" required>
                </div>
            </div>
            <input type="submit" value="<!--button-->">
            <div class="auth-div">
                <p onclick="switchPanel()"><!--button2--></p>
            </div>
        </form>
        <form action="<!--action-->" method="<!--method-->">
            <input type="hidden" name="action" value="register" readonly>
            <div class="auth-div">
                <label><!--name--></label>
                <input type="name" name="name" required>
            </div>
            <div class="auth-div">
                <label><!--email--></label>
                <input type="email" name="email" required>
            </div>
            <div class="auth-div">
                <label><!--password--></label>
                <div>
                    <img onclick="showPassword(this.parentElement)" src="/upload/open-eye.svg" alt="open eye">
                    <input type="password" name="password" required>
                </div>
            </div>
            <input type="submit" value="<!--button2-->">
            <div class="auth-div">
                <p onclick="switchPanel()"><!--button--></p>
            </div>
        </form>
    </div>
</div>