<div class="auth-center">
    <div class="chatWindow">
        <div class="messages <!--msgShow-->">
            <div class="data">
                <a href="/search"><img src="/upload/search.svg" alt=""></a>
                <a href="/profile"><img src=<!--my-photo--> alt=""></a>
            </div>
            <div id="users" style="margin: 15px 2px;">
                <!--users-->
            </div>
        </div>
        <div id="chatValue">
            <input type="hidden" name="" id="myIdInput" value="<!--senderId-->">
            <div class="chatValue " style="<!--style-->">
                <div class="chatHeader">
                    <h3><!--userName--><span>#<!--userId--></span></h3>
                    <button onclick="showMessages()"  id="showUsers">></button>
                </div>
                <div style="margin: 15px 2px;">
                    <!--conversations-->
                    <!--sendingPanel-->
                </div>
            </div>
        </div>
    </div>
</div>