:root{
    --blue: #0069e6;
    --light-blue: #499cff;
    --white: #ffff;
    --dark-blue: #00479b;
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

body{
    background-image: url(/upload/15151445.webp);
    background-size: cover;
}
/* authorization  */

.auth-center{
    overflow: hidden;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-center form{
    display: none;
}

.auth-center form.open{
    position: relative;
    padding: 20px;
    background: var(--white);
    border-radius: 20px;
    animation: auth-view ease-in-out 0.8s;
    display: flex;
    flex-direction: column;
}

.auth-center form.close{
    transform: translateY(-500vh);
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--white);
    border-radius: 20px;
    animation: auth-hide ease-in-out 0.5s;
    position: absolute;
}

.auth-center form .auth-div{
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.auth-center form .auth-div div{
    display: flex;
}

.auth-center form .auth-div input{
    padding: 5px 2px;
    outline: none;
    border: none;
    background: #00000012;
}

.auth-center form .auth-div div img{
    outline: none;
    border: none;
    background: var(--light-blue);
    border-radius: 5px 0px 0px 5px;
}

.auth-center form input[type="submit"]{
    cursor: pointer;
    padding: 7px 4px;
    background: var(--blue);
    border: none;
    border-radius: 4px;
    color: var(--white);
    font-size: 1rem;
    transition: .35s ease-in-out;
}

.auth-center form input[type="submit"]:hover{
    background: var(--dark-blue);
    transition: .35s ease-in-out;
}

@keyframes auth-view {
    0%{
        transform: translateY(100vh);
    }

    99%{
        transform: translateY(0);
    }
}

@keyframes auth-hide {
    0%{
        position: relative;
        transform: translateY(0);
    }

    99%{
        position: relative;
        transform: translateY(-100vh);
    }
}

/* home */

.chatWindow{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 15px;
}

.chatWindow .messages{
    backdrop-filter: blur(0.2rem);
    box-shadow: -4px 4px 5px #33333340;
    height: 100%;
    background: #ffffff5e;
    width: 100%;
    max-width: 18.75rem;
    border-radius: 20px;
    margin-right: 2px;
    flex: 3;
}

.chatWindow .chatValue{
    backdrop-filter: blur(0.2rem);
    box-shadow: 4px 4px 5px #33333340;
    border: 0.1rem var(--white) solid;
    height: 100%;
    background: #ffffff5e;
    width: 100%;
    border-radius: 20px;
    flex: 6;
}