:root{
    --blue: #0069e6;
    --light-blue: #499cff;
    --white: #ffff;
    --dark-blue: #00479b;
    --gray: #bbbaba;
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

body{
    background-image: url(/upload/15151445.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.flexCenter{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* authorization  */

.auth-center{
    overflow: hidden;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-center form{
    display: none;
}

.auth-center form.open{
    position: relative;
    padding: 20px;
    background: var(--white);
    border-radius: 20px;
    animation: auth-view ease-in-out 0.8s;
    display: flex;
    flex-direction: column;
}

.auth-center form.close{
    transform: translateY(-500vh);
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--white);
    border-radius: 20px;
    animation: auth-hide ease-in-out 0.5s;
    position: absolute;
}

.auth-center form .auth-div{
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.auth-center form .auth-div div{
    display: flex;
}

.auth-center form .auth-div input{
    padding: 5px 2px;
    outline: none;
    border: none;
    background: #00000012;
}

.auth-center form.error .auth-div input{
    border: 0.5px red solid;
}

.auth-center form .auth-div div img{
    outline: none;
    border: none;
    background: var(--light-blue);
    border-radius: 5px 0px 0px 5px;
}

.auth-center form input[type="submit"]{
    cursor: pointer;
    padding: 7px 4px;
    background: var(--blue);
    border: none;
    border-radius: 4px;
    color: var(--white);
    font-size: 1rem;
    transition: .35s ease-in-out;
}

.auth-center form input[type="submit"]:hover{
    background: var(--dark-blue);
    transition: .35s ease-in-out;
}

@keyframes auth-view {
    0%{
        transform: translateY(100vh);
    }

    99%{
        transform: translateY(0);
    }
}

@keyframes auth-hide {
    0%{
        position: relative;
        transform: translateY(0);
    }

    99%{
        position: relative;
        transform: translateY(-100vh);
    }
}

/* chat */

.chatWindow{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 15px;
}

.chatWindow .messages{
    backdrop-filter: blur(0.2rem);
    box-shadow: -4px 4px 5px #33333340;
    height: 100%;
    background: #ffffff5e;
    width: 100%;
    max-width: 18.75rem;
    border-radius: 20px;
    margin-right: 2px;
    flex: 3;
}

.chatWindow #chatValue{
    width: 100%;
    height: 100%;
    flex: 6;
}

.chatWindow .chatValue{
    backdrop-filter: blur(0.2rem);
    box-shadow: 4px 4px 5px #33333340;
    border: 0.1rem var(--white) solid;
    height: 100%;
    background: #ffffff5e;
    width: 100%;
    border-radius: 20px;
}

.chatWindow .messages .conversation.not::before{
    position: absolute;
    content: '';
    width: 5%;
    height: 3vh;
    min-width: 10px;
    min-height: 13px;
    top: -0.1rem;
    left: -0.1rem;
    background: url(/upload/bell-ring.svg);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 5%;
}

.conversation{
    position: relative;
    margin: 5px 0px;
    cursor: pointer;
    background: var(--white);
    padding: 7px 10px;
    border-radius: 5px;
    transition: .15s ease-in-out;
}
.conversation img{
    width: 3rem;
    border-radius: 50%;
}

.conversation p{
    display: flex;
    align-items: flex-start;
}

.conversation:hover{
    background: var(--gray);
    transition: .15s ease-in-out;
}

.conversation span{
    color: #00000045;
}

.chatWindow .chatValue .messDiv{
    display: flex;
}

.chatWindow .chatValue .messDiv.my{
    display: flex;
    justify-content: flex-end;
}

.chatWindow .chatValue .mess{
    background: var(--white);
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
}

.chatWindow .chatValue .mess.my{
    background: var(--dark-blue);
    color: var(--white);
    text-align: right;
}

.chatWindow .chatValue .con{
    height: 80vh;
    overflow: auto;
    display: none;
}

.con::-webkit-scrollbar{
    opacity: 0;
    width: 1px;
}

.chatWindow .chatValue .sendingPanel{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--dark-blue);
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
    display: flex;
}

.chatWindow .chatValue .sendingPanel input{
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 0.1rem solid var(--blue);
    padding: 4px 10px;
}

.chatWindow .chatValue .sendingPanel form {
    display: flex;
    width: 100%;
}

.chatWindow .chatValue .sendingPanel form button{
    background: none;
    border: none;
    display: flex;
}

.chatWindow .chatValue .sendingPanel form button svg{
    fill: var(--light-blue);
}

.chatWindow .chatValue .chatHeader{
    border-radius: 20px 20px 0px 0px;
    background: var(--dark-blue);
    padding: 0.4rem 0.4rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.chatWindow .chatValue .chatHeader h3{
    color: var(--white);
}

.chatWindow .chatValue .chatHeader h3 span{
    color: var(--gray);
}

#showUsers{
    display: none;
}

@media (max-width: 650px) {
    .chatWindow .messages{
        background: #0069e6f2;
        position: absolute;
        z-index: 1;
        max-width: none;
        right: 100%;
        left: -999rem;
        padding: 15px;
        width: auto;
        transition: .25s;
    }

    .chatWindow .messages.show{
        right: -2px;
        left: 0;
        transition: .25s;
    }

    #showUsers{
        display: block;
    }

    .chatWindow{
        margin: 0px;
    }
}

/* search  */

.flexCenter .searchDiv{
    background: #e1e1e1;
    padding: 10px;
    width: 90%;
    border-radius: 20px;
    height: 70%;
}

.flexCenter .searchDiv form input{
    border: 2px solid var(--blue);
    border-radius: 20px;
    padding: 10px;
    outline: none;
    width: calc(100% - 24px);
}

.flexCenter .searchDiv .searchResult{
    padding: 10px;
}